
.idea/

__pycache__/

example_invoices/

model/mistral-7b-instruct-v0.1.Q5_K_M.gguf

tmp_data/

test_scripts/

data/

output/

model/1_Pooling/

model/config.json

*.json

*.safetensors

*.model

model/LayoutLM-v3-invoice-extraction/

model/README.md
